* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
// Test

.wrapper {
  max-width: 1170px;
  height: 100%;
  margin: auto;
  padding: 0 15px;
}

.instagram {
  background-color: $instagramBg;
}

.facebook {
  background-color: $facebookBg;
}

.twitter {
  background-color: $twitterBg;
}

.youtube {
  background-color: $youtubeBg;
}

.pinterest {
  background-color: $pinterestBg;
}

.rss {
  background-color: $rssBg;
}
